<template>
  <body>
      <navbar />
      <sidenav />
      <div class="container">
      <div class="search">
        <input type="text" name="text" class="search" placeholder="Search">
        <input type="submit" name="submit" class="submit" value="Search">
        <a class="btn rounded-pill btn-outline-primary btn-sm" data-toggle="modal" data-target="#addModal" @click="$bvModal.show('addModal')">Add Books</a>
      </div>
    </div>

  <div class="main">
    <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Author</th>
              <th scope="col">Copies <br />Available</th>
              <th scope="col">Category</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(book, i) in books" :key="i">
              <td>{{book.name}}</td>
              <td>{{book.author}}</td>
              <td>{{book.copies}}</td>
              <td>{{book.category}}</td>
                 <a type="button" v-on:click="showeditModal(i)">
                 <img src="@/assets/img/icons8-edit-24 (1).png" class="mr-2 cursor-pointer" height="25"/>
                 </a>
                 <a type="button" v-on:click="showdeleteModal(i)">
                  <img src="@/assets/img/icons8-cancel-delete-32.png" class="mr-2" height="16" />
                 </a>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 
    <!--Add Modal-->
   <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Book</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="email" v-model="input.name" class="form-control" id="name" placeholder="">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="email" v-model="input.author" class="form-control" id="author" placeholder="">
            </div>
            <div class="form-group">
              <label for="copies">Copies</label>
              <input type="email" v-model="input.copies" class="form-control" id="copies" placeholder="">
            </div>
            <div class="form-group">
              <label for="customSelect">Category</label>
              <select id="customSelect" v-model="input.category" name="cars" class="custom-select">
                <option selected disabled>--Please select a category--</option>
                <option value="Fiction">Fiction</option>
                <option value="Horror">Horror</option>
                <option value="Novel">Novel</option>
                <option value="Biography">Biography</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" v-on:click="saveBook">Add Book</button>
        </div>
      </div>
    </div>
    </b-modal>

         <!--Edit Modal-->
    <b-modal id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Book</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="email" v-model="editBook.name" class="form-control" id="name" placeholder="">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="email" v-model="editBook.author" class="form-control" id="author" placeholder="">
            </div>
            <div class="form-group">
              <label for="copies">Copies</label>
              <input type="email" v-model="editBook.copies" class="form-control" id="copies" placeholder="">
            </div>
            <div class="form-group">
              <label for="customSelect">Category</label>
              <select id="customSelect" v-model="editBook.category" name="cars" class="custom-select">
                <option selected disabled>--Please select a category--</option>
                <option value="Fiction">Fiction</option>
                <option value="Horror">Horror</option>
                <option value="Novel">Novel</option>
                <option value="Biography">Biography</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
      <template #modal-footer = "{ }">
          <b-button variant="primary" size="sm" @click="cancel()">Cancel</b-button>
          <b-button variant="success" size="sm" v-on:click="updateBook">Update Book</b-button>
      </template>
    </b-modal>

    <!--Delete Modal-->
  <b-modal id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
        </div>
        <div class="modal-body">
          <p>Are you 100% sure?</p>
        </div>
      </div>
    </div>
    <template #modal-footer ="{ }">
      <b-button variant="info" @click="cancel()">Cancel</b-button>
      <b-button variant="danger" @click="deleteBook()">Confirm</b-button>
    </template>
  </b-modal>

  </body>
</template>

<script>
import Navbar from './navigation/navbar.vue'
import sidenav from './navigation/sidenav.vue'
export default {
components: { Navbar , sidenav },
  mounted() {
    document.title = "Books"
  },
    data(){
    return{
      books: [
        {
          name: "The Twilight Saga",
          author: "Stephanie Meyer",
          copies: "20",
          category: "Fiction",
        },
         {
         name: "The Twilight Saga",
          author: "Stephanie Meyer",
          copies: "20",
          category: "Fiction",
        },
        {
          name: "The Twilight Saga",
          author: "Stephanie Meyer",
          copies: "20",
          category: "Fiction",
        },
      ],
       editBook: {},
      input: {
        name: "",
        author: "",
        copies: 0,
        category: "",
      },
      deleteIndex: "",
    };
  },

   methods:{
    showAddModal(){
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    showdeleteModal(i){
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showeditModal(i){
      this.editIndex = i;
      this.editBook = {...this.books[i]};
      this.$bvModal.show("editModal");
    },
    deleteBook(){
      this.$delete(this.books, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
    },
    saveBook(){
      if (this.input.name.trim() == "")
         return this.showErrorToast("Name is Needed!");
      if (this.input.author.trim() == "")
         return this.showErrorToast("Author is Needed!");
      if (this.input.copies.trim() == "")
         return this.showErrorToast("Copies is Needed!");
      if (this.input.category.trim() == "")
         return this.showErrorToast("Category is Needed!");

      this.books.unshift({...this.input});
      this.clearFields();
      this.$bvModal.hide("addModal");
      this.showSuccessToast("Successfully Added Information");
    },
    updateBook(){
       if (this.editBook.name.trim() == "")
         return this.showErrorToast("First Name is Needed!");
      if (this.editBook.author.trim() == "")
         return this.showErrorToast("Middle Name is Needed!");
      if (this.editBook.copies.trim() == "")
         return this.showErrorToast("Last Name is Needed!");
      if (this.editBook.category.trim() == "")
         return this.showErrorToast("Email is Needed!");

      this.$set(this.books, this.editIndex, this.editBook);
      this.$bvModal.hide("editModal");
      this.showSuccessToast("Updated Successfully");
    },
    clearFields() {
      this.input.name = "";
      this.input.author = "";
      this.input.copies = "";
      this.input.category = "";
   },
  },

};

</script>

<style scoped>
@import './../assets/css/style.css';
</style>