<template>
  <body id="page-top" class="animated fadeIn">
    <navbar />
    <sidenav />
  <div class="main">
  <div class="container pt-4">
    <h6 class="text-muted">Here is your summary</h6>
    <div class="row mt-5">
      <div class="col-10 col-sm-10 col-lg-6 pb-3">
        <h6 class="text-muted">Borrowed and returned books</h6>
        <canvas id="barChart" width="280" height="200"></canvas>
      </div>
      <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
        <h6 class="text-muted">Popular book genre</h6>
        <canvas id="pieChart" width="280" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
</body> 
</template>
<script>
  import Chart from 'chart.js';
  import Navbar from './navigation/navbar.vue';
  import Sidenav from './navigation/sidenav.vue';
export default {
  components: {Navbar, Sidenav},
  data(){
    
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = document.getElementById("barChart").getContext("2d");
      new Chart(ctx, {
        type: "bar",
          data: {
          labels: ["January", "February", "March", "April", "May", "June"],
          datasets: [{
            label: "Borrowed Books",
            backgroundColor: 'rgba(154, 0, 201, .8)',
            borderColor: "#1BB09A",
            data: [7, 10, 9, 12, 13, 6, 12],
          }, {
            label: "Returned Books",
            backgroundColor: 'rgba(247, 255, 0, .8)',
            borderColor: "#1C2127",
            data: [4, 7, 10, 11, 8, 8, 12],
          }],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
    labels: ["Novel", "Fiction", "Biography", "Horror"],
    datasets: [{
      data: [80, 20, 16, 8],
      backgroundColor: ['rgb(229, 31, 31, .8)', 'rgba(247, 255, 0, .8)', 'rgba(159, 145, 145, .8)', 'rgba(68, 63, 63, .8)'],
    }],
  },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
 @import './../assets/css/style.css';
</style>
