<template>
  <body>
      <navbar />
      <sidenav />
      <div class="container">
      <div class="search">
        <input type="text" name="text" class="search" placeholder="Search">
        <input type="submit" name="submit" class="submit" value="Search">
        <a class="btn rounded-pill btn-outline-primary btn-sm" data-toggle="modal" data-target="#addModal" @click="$bvModal.show('addModal')">Add Patron</a>
      </div>
    </div>

  <div class="main">
    <div class="card pl-4 pt-4 pr-4 mb-4 card-shadow">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Date Registered</th>
              <th scope="col">Email Address</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
           <tr v-for="(patron, i) in patrons" :key="i">
             <td>
               {{
                 patron.firstname + 
                 " " + 
                 patron.middlename +
                 " " +
                 patron.lastname
               }}
             </td>
             <td>{{patron.date}}</td>
             <td>{{patron.email}}</td>
             <td>
               <a type="button" data-toggle="modal" data-target="#editModal" v-on:click="showEditModal(patron, i)">
                <img src="@/assets/img/icons8-edit-24 (1).png" class="mr-2" height="25"/>
               </a>
               <a type="button" data-toggle="modal" data-target="#deleteModal" v-on:click="showDeleteModal(i)">
                <img src="@/assets/img/icons8-cancel-delete-32.png" class="mr-2" height="25"/>
               </a>
             </td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

              <!-- Add Patron -->
    <b-modal id="addModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Patron</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="AddPatronFirstname">First Name</label>
              <input type="text"  v-model="input.firstname" class="form-control" id="AddPatronFirstname" placeholder="">
            </div>
            <div class="form-group">
              <label for="AddPatronMiddlename">Middle Name</label>
              <input type="text" v-model="input.middlename" class="form-control" id="AddPatronMiddlename" placeholder="" >
            </div>
            <div class="form-group">
              <label for="AddPatronLastname">Last Name</label>
              <input type="text" v-model="input.lastname" class="form-control" id="AddPatronLastname" placeholder="" >
            </div>
             <div class="form-group">
              <label for="AddPatronDate">Date</label>
              <input type="text" v-model="input.date" class="form-control" id="AddPatronDate" placeholder="" >
            </div>
             <div class="form-group">
              <label for="AddPatronEmail">Email Address</label>
              <input type="email"  v-model="input.email" class="form-control" id="AddPatronEmail" placeholder="">
            </div>
          </form>
        </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-primary" v-on:click="savePatron">Save changes</button>
        </div>
      </div>
    </div>
  </b-modal>

  <!-- Edit Patron -->
  <b-modal id="editModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Patron</h5>
        </div>
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="AddPatronFirstname">First Name</label>
              <input type="name" v-model="editPatron.firstname" class="form-control" id="AddPatronFirstname" placeholder="">
            </div>
            <div class="form-group">
              <label for="AddPatronMiddlename">Middle Name</label>
              <input type="email"  v-model="editPatron.middlename" class="form-control" id="AddPatronMiddlename" placeholder="">
            </div>
            <div class="form-group">
              <label for="AddPatronLatsname">Last Name</label>
              <input type="text"  v-model="editPatron.lastname" class="form-control" id="AddPatronLatsname" placeholder="">
            </div>
             <div class="form-group">
              <label for="AddPatronDate">Date</label>
              <input type="text" v-model="editPatron.date" class="form-control" id="AddPatronDate" placeholder="">
            </div>
             <div class="form-group">
              <label for="AddPatronEmail">Email Address</label>
              <input type="text" v-model="editPatron.email" class="form-control" id="AddPatronEmail" placeholder="" >
            </div>
          </form>
        </div>
      </div>
    </div>
     <template #modal-footer>
          <b-button size="sm" variant="primary" v-on:click="updatePatron">
            Update Patron
          </b-button>
        </template>
  </b-modal>

    <!-- Delete Patron -->
  <b-modal id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Delete</h5>
        </div>
        <div class="modal-body">
          <p>Are you 100% sure?</p>
        </div>
      </div>
    </div>
    <template #modal-footer="{ }">
             <b-button variant="info" size="sm" @click="cancel()">Cancel</b-button>
             <b-button variant="danger" size="sm" v-on:click="deletePatron()">Confirm</b-button>
   </template>
  </b-modal>
  </body>
</template>

<script>
import Navbar from './navigation/navbar.vue';
import Sidenav from './navigation/sidenav.vue';
export default {
  components: {Navbar, Sidenav},
  mounted() {
    document.title = "Patron"
  },
  data(){
    return{
      patrons: [
        {
          firstname: "Lester John",
          middlename: "O",
          lastname: "Vista",
          email: "lester@gmail.com",
          date: "September 23, 2020",
        },
         {
          firstname: "Mylen",
          middlename: "A",
          lastname: "Vista",
          email: "mylen@gmail.com",
          date: "November 6, 2020",
        },
        {
          firstname: "Kobe",
          middlename: "B",
          lastname: "Bryant",
          email: "mamba@gmail.com",
          date: "August 23, 2020",
        },
      ],
      editPatron: {},
      editIndex: "",
      input: {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
        date: "",
      },
      deleteIndex: "",
    };
  },

  methods:{
    showAddModal(){
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i){
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(patron, i){
      this.editIndex = i;
      this.editPatron = {...this.patrons[i]};
      this.$bvModal.show("editModal");
    },
    deletePatron(){
      this.$delete(this.patrons, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
    },
    savePatron(){
      if (this.input.firstname.trim() == "")
         return this.showErrorToast("First Name is Needed!");
      if (this.input.middlename.trim() == "")
         return this.showErrorToast("Middle Name is Needed!");
      if (this.input.lastname.trim() == "")
         return this.showErrorToast("Last Name is Needed!");
      if (this.input.date.trim() == "")
         return this.showErrorToast("Date is Needed!");
      if (this.input.email.trim() == "")
         return this.showErrorToast("Email is Needed!");

      this.patrons.unshift({...this.input});
      this.clearFields();
      this.$bvModal.hide("addModal");
      this.showSuccessToast("Patron added");
    },
    updatePatron(){
       if (this.editPatron.firstname.trim() == "")
         return this.showErrorToast("First Name is Needed!");
      if (this.editPatron.middlename.trim() == "")
         return this.showErrorToast("Middle Name is Needed!");
      if (this.editPatron.lastname.trim() == "")
         return this.showErrorToast("Last Name is Needed!");
      if (this.editPatron.email.trim() == "")
         return this.showErrorToast("Email is Needed!");

      this.$set(this.patrons, this.editIndex, this.editPatron);
      this.$bvModal.hide("editModal");
      this.showSuccessToast("Patron Updated");
    },
    clearFields() {
      this.input.firstname = "";
      this.input.middlname = "";
      this.input.lastname = "";
      this.input.email = "";
      this.input.date = "";
   },
  },

};
</script>

<style>
@import './../assets/css/style.css';
</style>