<template>
  <body>
      <navbar />
      <sidenav />
  </body>
</template>

<script>
import navbar from "./navigation/navbar.vue"
import sidenav from "./navigation/sidenav.vue"

export default {
  components: { navbar, sidenav },
  data(){
    
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Settings"
  },
};
</script>

<style>
@import './../assets/css/style.css';
</style>