body{background-color: white;
    
}
    
.img-AD {
    position: absolute;
     top: 0px;
     left: 0px;
          }
.container{
    
     top: 0px;
     left: 0px;
     

}
.img-WEL{
    margin-left: 550px;
    
}
.img-ADL{
    margin-left: 730px;
}
.img-rd{
    margin-left: 1100px;
    margin-top: 50px;
}
.img-nopath{
    margin-left: 1200px;
    margin-top: 200px;
}
.img-2{
    margin-left: 80px;
    margin-top: 300px;
}
.img-seee{
    margin-left: 900px;
    margin-top: 40px;
}
.img-3{
margin-left: 50px;
margin-top: 75px;
margin-bottom: 80px;
}
.img-angel{
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 70px;
}
.img-p{
    margin-left: 50px;
}
.img-seep{
    margin-left: 930px;
}
.img-last{
    margin-left: 60px;
    margin-top: 50px;
}





 


