<template>
  <header>
  <div class="container-fluid">
    <img src="./../../assets/img/icon-libray-1.png" class="logolib">
    <img src="./../../assets/img/Library Management System.png" class="Lib">
    <nav>
      <ul>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
</template>

<script>
export default {

}
</script>

<style>

</style>