<template>
  <div class="sidebar">
    <router-link to ="/" class="">
      <div class="element-container active">
        <div class="element">
          <img src="./../../assets/img/dash-1.png" width="60" class="ml-0 mt-0 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </router-link>
    <router-link to ="/patron" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/pat-1.png" width="40" class="ml-2 mt-2 position-absolute">
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </router-link>
    <router-link to="books/" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/pat-3.png" height="25" class="ml-3 mt-2 position-absolute">
          <p class="ml-6 option" href="">Books Management</p>
        </div>
      </div>
    </router-link>
    <router-link to="/settings" class="">
      <div class="element-container">
        <div class="element">
          <img src="./../../assets/img/NoPath - Copy (-1.png" height="20" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>