body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: aqua;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logolib {
    float: left;
}

.Lib {
    padding: 10px 0;

}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

.sidebar {
    height: 80%;
    width: 220px;
    position: fixed;
    z-index: 2;
    top: 15;
    left: 0;
    background: #6E049A;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    font-size: 12pt;
    color: #ffffff;
    display: block;
    font-family: 'Righteous', cursive;
    border-bottom: 1px solid gray;
}

.sidebar a:hover {
    color: #dadada;
}

.element-container {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 1rem;
}

.element {
    position: absolute;
    margin-top: 6.3%;
}

.ml-6 {
    margin-left: 4rem;
}

.mt-0 {
    margin-top: 10px;
}

.main {
    margin-left: 240px;
    margin-top: 50px;
    margin-right: 5px;
}

.mr-5{
    margin-left: 50px;
    margin-top: 10px;
}

.search{
    margin-left: 50px;
    margin-top: 30px;
}
.search a{
    margin-left: 500px;
}